# Ignore Visual Studio specific files
.vs/
*.user
*.suo
*.cache
*.pdb
*.obj
*.exe
*.dll
*.log
*.csproj.user
*.aps
*.ncb
*.opt
*.plg
*.vcxproj.user
*.vscode/
*.sqlite
*.dbmdl

# Ignore build results
bin/
obj/

# Ignore test results
TestResults/
InstagramLink.Tests/bin/
InstagramLink.Tests/obj/

# Ignore local debug launch settings
InstagramLink/Properties/launchSettings.json

# Ignore migrations and database files
InstagramLink/Migrations/
InstagramLink/Data/

# Ignore appsettings containing sensitive information
InstagramLink/appsettings.json

# Ignore npm debug file
npm-debug.log

# Ignore IDE-specific settings
.idea/

# Ignore appsettings containing sensitive information
InstagramLink/appsettings.json
